
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e4e4e4;
}

.container{
    text-align: center;
}

.compliment-container{
    padding: 25px;
    border-radius: 9px;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,.2);
    margin-bottom: 20px;
}

.compliment-button{
    font-size: 25px;
    border: none;
    border-radius: 6px;
    padding: 10px 15px; 
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    color: wheat;
    transition: background-color 0.3s ease-in-out;

}

.compliment-button:hover{
    background: #da6b6b;
}